---
---
@charset "utf-8";

:root{
	--turquoise:#7ecdd0;
	--brand-color:#282828;
	--raleway-font: "raleway",sans-serif;
	--title-color:#282828;
	--pink:#ff7770;
	--gray:#eee;
	--red:#C02F1D;
	--bright-red:#e5011e;
	--blue:#0074D9;
	--yellow:#ffca00;
	--sp-bt-dark:#34302D;
	--sp-bt-green:#6DB33F;
	--sp-bt-txt:#342f2c;
}

/*// Our variables*/
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/*// Width of the content area*/
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
 /*Import partials from `sass_dir` (defaults to `_sass`)*/
 @import "base", "layout", "syntax-highlighting";

 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

.highlighter-rouge .highlight{
  background-color: #f7f7f7;
  border:none;
}

@mixin vendor-prefix($name, $argument) {
  #{$name}: #{$argument};
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
}

html, body{
	font-size: 18px;
	height: 100%;
	margin: 0px;
	font-family: "Nunito";
	color: #1f1f1f;
	line-height: 1.6em;
	letter-spacing: .5px;
	font-weight: 300;
	font-style: normal;
	background-color: #FFFFFF;
	overflow-x: hidden; 
}


a, a:visited, a:active {
	/*text-decoration: none;*/
	color: var(--blue);
}

h5{
	font-size: 1.2em;
    padding: 1em 0;
}
video {
  width: 100%;
  height: auto;
  border: 5px solid var(--brand-color);
}

ul, ol{
	line-height: 2.5em;
}

/*Navigation*/


/*   color variables */
$clr-primary: #0e48fe;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {

	margin-bottom: 2em;
	margin-top: 2em;
	margin-right: 1em;

  &__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 1rem;
    top: 2rem;

    svg {
      width: 1.5rem;
      fill: $clr-gray600;
    }

    .close {
      display: none;
    }

    .menu {
      margin-top: 0.2rem;
    }
  }

  &__checkbox {
    display: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    li {
		list-style: none;
		display: none;
		font-size: 1rem;
		font-weight: bold;
		font-family: 'Raleway', sans-serif;

      &:first-child {
        margin-right: auto;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 2px;
      }
    }

    .logo-long{
    	display: none;
    }

    a, a:visited {
      text-decoration: none;
      color: #000000;
    }

    svg {
      width: 1.5rem;
      fill: $clr-gray600;
    }
  }
}

// Toggle the hamburger menu in mobile view
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

//Change from menu to close icon on tap
#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

// Desktop view
@media only screen and (min-width: 560px) {
  .nav {
    &__toggle {
      display: none;
    }

    &__menu {
      flex-direction: row;

      li {
        display: block;
      }
    }

    .logo-long{
    	display: inline-block;
    }
    .logo-short{
    	display: none;
    }
  }
}



/*Navigation-end*/

.container{
	display: grid;
	height: 100%;
	grid: "header" auto
		  "main" 1fr
		  "footer" 3em
		  / 1fr;
}

/*.container{
	display: grid;
	height: 100%;
	grid: "header" auto
		  "main" 1fr
		  "footer" 4em
		  / 1fr;

}*/

.blank-container{
	display: grid;
	height: 100%;
	grid: "header" auto
		  "main" 1fr
		  "footer" 4em
		  / 1fr;
	grid-gap: 2em;
}

.col-container{
	display: grid;
	height: 100%;
	grid: "col-1 col-2" auto
		  / auto auto;
	grid-gap: 2em;
}
.col-1{
	grid-area: col-1;
}
.col-2{
	grid-area: col-2;
	display: grid;
	place-items:center;
}

@media only screen and (max-width : 960px) {
/*	.container{
		display: grid;
		grid: "header" auto
			  "main" 1fr
			  "aside" auto
			  "footer" 3em
			  / 1fr;
	}*/
	.col-container{
		display: grid;
		grid: "col-1" auto
			  "col-2" auto;
		grid-gap: 1em;
	}

}

.row-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
}



a:hover{
	color: var(--red);
}

a.active{
	color: var(--turquoise);
}
.post-list{
	margin: 0;
}
.post-list > li{
	line-height: 1.5em;
}

/*header*/

.title, .title a{
	text-decoration: none;
	font-family:  "raleway",sans-serif;
	margin-bottom: 0px;
	margin-top: 0.5em;
	line-height: 1.2;
	color: var(--title-color);
}

.meta, .meta h6{
	margin:0px;
}

.post-excerpt{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 4em;
}

main{
	max-width: 1200px;
	justify-self:center;
	padding: 0 10vw;
	grid-area: main;
	display: grid;
	grid: "article" "article-footer" / 1fr;
	margin-bottom: 1em;
}

article{
	grid-area: article;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 75ch;
}

.content{
	padding-top: 3em;
}

.article-footer{
	grid-area: article-footer;
}
/*.visual{
	max-width: 650px;
}*/

aside{
	margin-top: 3em;
	grid-area: aside;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer{
	grid-area: footer;
	color: #ffffff;
	text-align: center;
	background-color: var(--turquoise);
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.shadow{
	@include vendor-prefix(box-shadow,0 1px 4px 0 rgba(0, 0, 0, 0.09));	
}
.btn-md-play{
	padding: 0.5em 1em;
	color: #ffffff;
	background-color: var(--bright-red);
	@include vendor-prefix(border-radius, 5px);	
	margin: 1em 0em;
/*    font-family: roboto;
    font-size: 0.7em;*/
	line-height: 1em;

	&-subscribe{
		@extend .btn-md-play;
		max-width: 110px;
		align-self: center;
	}
}
.btn-md-play:visited{
		color: #ffffff;
	}
.btn-md-play:hover{
	color: #ffffff;
	background-color: var(--pink);
	text-decoration: none;
}

.btn-sm-play{
	text-align: center;
	min-width: 140px;
    height: 28px;
	padding: 0 1em;
	color: #ffffff;
	background-color: var(--sp-bt-green);
	@include vendor-prefix(border-radius, 5px);	
	/*margin: 1em 0em;*/
    font-size: 0.7em;

	/*.btn-sm-play-pink*/
     &-pink {
    	@extend .btn-sm-play;
    	background-color: var(--pink);
  }
}

.btn-sm-play:visited{
		color: #ffffff;
	}
.btn-sm-play:hover{
	color: #ffffff;
	background-color: var(--pink);
	text-decoration: none;
	a:hover{
		color: #ffffff;
	}
}
.btn{
	padding: 0.5em 1em;
	color: var(--turquoise);
	border: var(--turquoise) 1px solid;
	@include vendor-prefix(border-radius, 5px);	
	margin: 1em 0em;
    font-family: roboto;
}

.btn:hover{
	background-color: var(--turquoise);
	color: #ffffff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin-top: 2em;
    margin-bottom:2em;
}

.side-bar{
	position: fixed;
    background: rgba(232,232,232, .39);
    text-align: center;
    padding: 2em;
 }



 .side-bar p{
  color: #1f1f1f;
 }

 .side-bar img{
  max-width: 8em;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
 }

 .side-bar .button{
    background: #FB7972;
    padding: 1em;
    margin-top: 1em;
    color: white;
    font-weight: bold;
 }
/*
 @media only screen and (max-width : 960px) {

	.side-bar{
		position: relative;
		width:50%;
		min-width: 200px;
	}
	aside{
		margin-top: 0px;
	}
 }
*/

#content-upgrade{
	display: flex;
	background: rgba(232,232,232, .39);
	text-align: center;
	padding: 1em;
	justify-content: center;
	align-items: center;
	margin: 1em 0em;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

#content-upgrade img{
  max-width: 5em;
  padding: 0.5em;
}

#content-upgrade p{
  color: #1f1f1f;
  padding-top: 0.5em;
  margin-bottom: 0px;
  margin-left: 1em;
  font-weight: bold;
  font-size: 1.3em;
}
.post-header{
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
}
.post-title, .post-title a{
 	font-family: var(--raleway-font);
    font-style: normal;
    font-size: 3em;
    line-height: 1.3em;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 0.1em;
    color: #ffffff;

}

.title-sub{
	font-size: 1.5em;
	font-weight: lighter;
}

#publish-date{
    color: rgba(31,31,31,.5);
    font-size: 0.8em;
}
.intro {
	color: #ffffff;
	line-height: 2em;
}
.contents{

	> h3{
		text-align: center;
		font-weight: bolder;
		font-size: 2em;
		padding-bottom: 1em;
	}
	> ul, > ol{
		width: fit-content;
	    margin: 0 auto;
	    font-weight: bold;
	    font-size: 1.2em;
	    color: var(--pink);
	}

	a{
		color: var(--pink);
	}

	a:hover{
		color: var(--turquoise);
		text-decoration: none;
	}
}


.def-box{
	background-color: #ffffff;
	color: var(--brand-color);
	padding: 3em;
	margin: 2em 0;
}
.border-box{
    border: 4px solid #ece099;
    padding: 2em;
    margin: 2em 0;
}
.gray-box{
	background-color: #eee;
	padding: 2em;
}
.purple-box{
	background-color: #2f2251;
	padding: 2em;
}

.code{
    padding: 1em;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
.screen-shot{
	border: 10px solid #c5c5c5;
	width: 95%;
}

pre, code{
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 15px;
	background-color: #f7f7f7;
	color: var(--title-color);
	line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
pre{
	    overflow-x: auto;
}

.footer a, .footer a:visited{
	color: white;
}

.footer-text{
	margin: 0px;
}

#contact-text{
	justify-self: center;
    align-self: center;
}
.emoji{
	width: auto;
}


/*Utils*/
.break-all{
	word-break: break-all;
}
.white-text{
	color: #ffffff;
}
.font-md{
	font-size: 1.2em;
	font-weight: bolder;
	line-height: 2.5em;
}
.font-lg{
	font-size: 2em;
}
.center{
	text-align: center;
}

div.center{
	margin: 0 auto;
}

.center-box{
	margin: 3em auto;
	max-width: 700px;
	hr{
		border-top: 1px solid #c3c0c0;
	}
}

.bold{
	font-weight: bold;
}
.pd-1{
	padding: 1em;
}
.pd-bt-1{
	padding-bottom: 1em;
}
.pd-bt-2{
	padding-bottom: 2em;
}
.pd-bt-3{
	padding-bottom: 3em;
}
.pd-tp-3{
	padding-top: 3em;
}
.pd-tp-1{
	padding-top: 1em;
}

.mg-tp-1{
	margin-top: 1em;
}

.mg-tp-3{
	margin-top: 3em;
}
.mg-bt-0{
	margin-bottom: 0px;
}
.mg-bt-1{
	margin-bottom: 1em;
}
.mg-bt-3{
	margin-bottom: 3em;
}
.gray-border-10{
	border: 10px solid #CCCCCC;
}

.maxw-700{
	max-width: 700px;
}

.full-width{
	margin-right: -1000px;
	margin-left: -1000px;
	padding-right: 1000px;
	padding-left: 1000px;
}

.bg-dark-gray{
	background-color: #383838;
}
.bg-dark-blue{
	background-color: #001F3F;
}
.bg-blue{
	background-color: #36bee0;
}
.bg-light-blue{
	background-color: #1395ba;
}

.bg-gray{
	background-color: #f8f8f8;
}
.bg-green{
	background-color: #27cc94;
}

.bg-yellow{
	background-color: #ffca00;
}

.bg-purple{
	background-color: #421861;
}
.bg-light-purple{
	background-color: #573dad;
}

.bg-red{
	background-color: #e62952;
}

.bg-light-green{
	background-color: #dcffdf;
}
.bg-light-red{
	background-color: #fde0e0;
}

.bg-tq{
	background-color: #00a7b3;
}

.bg-sp-bt{
	background-color: var(--sp-bt-dark);
}

.bg-sp-bt-green{
	background-color: var(--sp-bt-green);
}

.sp-bt-header{
	/*background-color: var(--sp-bt-green);*/
	color: var(--sp-bt-green);
}

@media only screen and (max-width : 500px) {
	.font-lg{
		font-size: 1em;
	}
}

.sp-bt-course{
	font-family: 'Montserrat', sans-serif !important;

	.post-title{
		font-family: 'Montserrat', sans-serif !important;
		color: var(--sp-bt-green);
	}
	hr{
		border-top: 1px solid var(--sp-bt-green);
	}

}
.sp-bt{
	color: var(--sp-bt-green);
}

.curriculum-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

.course-module{
	border: #cccccc 1px solid;
	@include vendor-prefix(border-radius, 5px);	
	padding: 1em;
}

.verticle-container{
	display: flex;
	flex-direction: column;
	max-width: 500px;
	max-width: 760px;
    /*background-color: #f1f1f1;*/
    font-size: 0.9em;
/*	border: #cccccc 1px solid;
	@include vendor-prefix(border-radius, 5px);	
	padding: 1em;*/
}
.module{
    margin-bottom: 1em;
    background-color: #f1f1f1;
}
.module-title{
	color: #ffffff;
    background-color: var(--sp-bt-green);
    padding: 1em;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;

}
.lesson-content{
	padding: 0 2em;
/*	background-color: #f7f7f7;
	padding: 1em;*/
}
.lesson-title{
	display: flex;
    flex-direction: row;
/*    flex-wrap: wrap;*/
    justify-content: space-between;
	font-weight: 600;
    margin-bottom: 0;
    padding: 1em;
    color: #ffffff;
    background-color: #4a4a4a;
}

a.lesson-title-link {
	color: #ffffff;
	text-decoration: none;

}

a.lesson-title-link:hover{
	color: var(--sp-bt-green);
}

.arrow-down {
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid var(--sp-bt-dark);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
}

#free-lessons{
	color: var(--sp-bt-green);
	margin-bottom: 0;
	margin-top: 3em;
    font-weight: 600;
    text-align: center;
}

hr.gray{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 3em;
    margin-bottom: 3em;
}

/* video post */
.video-image-grid{
  display: grid;
  grid:"video";
  max-width: 760px;
  margin: 0 auto;
}

.video-image{
  grid-area: video;
  justify-self: center;
}
.video-image-grid .play-icon{
  z-index: 2;
  max-width: 16vw;
  align-self: center;
  justify-self: center;
  grid-area: video;
}
/* end video post */

.course-deal{
    margin-top: 2em;
    margin-bottom: 0em;
    color: #ffffff;
    background-color: var(--bright-red);
    padding-top: 2em;
    padding-bottom: 1em;
}

.back-to-top{
    position: fixed;
    padding: 1em;
    bottom: 2.5em;
    right: 1em;
    color: var(--turquoise)!important;
}

.back-to-top *{
    color: var(--turquoise)!important;
}


.comments{
	max-width: 1000px;
  	margin: 2em auto;
}

#hyvor-talk-view{
  	padding: 0 3em;
}

.hidden{
	display: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    border: 5px solid #ffff00
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.related-post{

 	a{

		color: var(--title-color);
		text-decoration: none;
	}
	
	a:visited{
		color: var(--title-color);
	}

	a:hover{
		color: var(--turquoise);
	}
}

.post-header-bottom{
	display: flex;
    flex-direction: column;
}