---
layout: default
title: Java Code House
aside: true
---

<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-excerpt">
      <a href="{{post.url | prepend: site.baseurl}}">            
        {% assign image = post.images[0] %}
        {% include image.html image=image styleClass="shadow"%}
      </a>
      <header>
        <h1 class="title" ><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <div class="">{{post.description}}</div>
        <div class="meta"><h6>{{ post.date | date: '%B %d, %Y' }}</h6></div>
      </header>
      <a href="{{post.url | prepend: site.baseurl}}" class="btn">Read More</a>
    </li>
  {% endfor %}
</ul>