<footer class="footer">

	<p class="footer-text">Copyright &copy; {{ 'now' | date: "%Y" }} Javacodehouse.com | All Rights Reserved</p>

	<ul class="social footer-social">
		<li><a href="https://www.linkedin.com/in/dilinirajapaksha/" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/sewdil" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
		<li><a href="https://m.youtube.com/c/JavaCodeHouse" target="_blank"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a></li>
		<li><a href="https://github.com/JavaCodeHouse" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a></li>
	</ul>

</footer>

