<div class="nav-bar">
	<div id="logo" class="logo">
		<a class="brand" href="{{"/index.html" | prepend: site.baseurl}}"> 
			<p class="brand-lg">JAVA</p>  
			<p class="brand-sm">CODE HOUSE</p>
		</a>
	</div>

	<ul class="nav-items">
		<li class="nav-item"><a href="{{"/index.html" | prepend: site.baseurl}}">HOME</a></li>
		<li class="nav-item"><a href="{{"/contact" | prepend: site.baseurl}}" target="_blank">CONTACT US</a></li>
	</ul>

	<ul class="nav-btn">
		<li></li>
		<li></li>
		<li></li>
	</ul>	
</div>

<!-- mobile toggle -->
<ul class="nav-verticle">
	<li class="nav-item"><a href="{{"/index.html" | prepend: site.baseurl}}">HOME</a></li>
	<li class="nav-item"><a href="{{"/contact" | prepend: site.baseurl}}" target="_blank">CONTACT US</a></li>
</ul>