
 <head>
  
  <link rel="stylesheet" href={{ "/css/layout1.css" | prepend: site.baseurl }}?{{ site.time | date: '%s%N' }}">
  
  <link rel="stylesheet" href={{ "/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WLH5S8S');</script>
  <!-- End Google Tag Manager -->
  

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <script src="//a.mailmunch.co/app/v1/site.js" id="mailmunch-script" data-mailmunch-site-id="400395" async="async"></script>

<!-- Favicon -->
<!--   <link rel="apple-touch-icon" sizes="180x180" href={{ "/favicon/apple-touch-icon.png" | prepend: site.baseurl }}>
  <link rel="icon" type="image/png" sizes="32x32" href={{ "/favicon/favicon-32x32.png" | prepend: site.baseurl }}>
  <link rel="icon" type="image/png" sizes="16x16" href={{ "/favicon/favicon-16x16.png" | prepend: site.baseurl }}>
  <link rel="manifest" href={{ "/favicon/manifest.json" | prepend: site.baseurl }}>
  <link rel="mask-icon" href={{ "/favicon/safari-pinned-tab.svg"| prepend: site.baseurl }} color="#5bbad5">
  <link rel="shortcut icon" href={{ "/favicon/favicon.png" | prepend: site.baseurl }}> 

  <meta name="msapplication-config" content={{ "/favicon/browserconfig.xml | prepend: site.baseurl }}">-->

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">


  <meta name="theme-color" content="#ffffff">

  <meta name='date' content='{{ page.date }}'>


<!-- Google fonts -->

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans:wght@400;800&family=Raleway:wght@400;600&display=swap" rel="stylesheet">

<!-- Google fonts end-->



</head>
