---
layout: default2
---
<article class="post sp-bt-course" markdown="1" itemscope itemtype="http://schema.org/BlogPosting">

<!-- <div class="course-deal full-width center">
	<h2>Introductory offer!</h2>
	<h1 class="">Learn <span class="bold">Spring Boot</span> for only</h1>
	<h1 class="font-lg">$12!</h1>
	<p class="">This is a one time payment to access the course plus you get all the future updates to the course for FREE!</p>
</div> -->

	<header class="post-header full-width mg-bt-0 {{ page.header-style}}">

		<h2 class="post-title title-sub">{{ page.title-post-pre}}</h2>
		<h1 class="post-title bold {{page.title-style}}" itemprop="name headline">{{ page.title-post}}</h1>
		<hr>
		<h2 class="post-title title-sub">{{ page.title-post-sub}}</h2>

		<p class="pd-tp-1 font-md white-text">Watch the introduction below <i class="fa fa-hand-o-down" aria-hidden="true"></i></p>
		<div class="mg-tp-1 video-container">
			<!-- <a class="btn-md-play" href="https://javacodehouse-training.thinkific.com/courses/spring-boot" target="_blank"> -->
			<iframe width="560" height="315" src="https://www.youtube.com/embed/TtQcdMr-MPk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<div class="mg-tp-3 post-header-bottom">
			All Video Lessons On Youtube!
			<a class="btn-md-play-subscribe" href="https://www.youtube.com/channel/UC02lbkrJGL9cSkKiptjWPFQ?sub_confirmation=1" target="_blank">
				Subscribe

			</a>	
		</div>

		<time id="publish-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"></time>
		{% if page.author %} <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
	</header>

	<div class="content mg-bt-3" itemprop="articleBody">
	  	{{ content }}
	</div>


</article>
<div class="comments">
	{% include post-footer.html %}
</div>

 
 

