<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->  
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLH5S8S" 
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>  
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">
    
      {% include header.html %}

      <!-- {% include back-to-top.html %} -->

      <div class="content">
        {{content}} 
      </div>
    </div>  
    {% include footer.html %}
  </body>
</html>
