<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">
    
    {% include header.html %}


   
      <article class="posts-list">
        {{ content }}
      </article>
  
 
    {% include footer.html %}
    
    </div>

    
   <script src="https://use.typekit.net/cng0pjz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
