<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->  
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLH5S8S" 
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>  
    <!-- End Google Tag Manager (noscript) -->

    <div class="container">
    
      {% include header.html %}

      <!-- {% include back-to-top.html %} -->

      <div class="content">
        
      <main>
        {{content}}
      </main>


      {% if page.aside %}
        <aside>
          <!-- Ezoic - sidebar-floating - sidebar_floating_1 -->
            <div id="ezoic-pub-ad-placeholder-105"> </div>
          <!-- End Ezoic - sidebar-floating - sidebar_floating_1 -->
        </aside>
      {% endif %}

      </div>
    </div>

    {% include footer.html %}
    
    <script src="https://use.typekit.net/cng0pjz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="{{"/js/main.js" | prepend: site.baseurl }}"></script>
  
  </body>
</html>
