<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- <div class="container"> -->
    <div class="row">
      <div class="posts-list">
        {{ content }}
      </div>
    <!-- </div> -->

    <div class="row">

    {% include footer.html %}
    </div>

    
   <script src="https://use.typekit.net/cng0pjz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
