---
layout: default
---

<div class="flex-container-col">
	

	<article class="post flex-container-col" markdown="1" itemscope itemtype="http://schema.org/BlogPosting">

		<header class="blog-header ">
			<h1 class="post-title tk-raleway" itemprop="name headline">{{ page.title }}</h1>
			<div class="post-meta">
			<time id="publish-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"></time>
			{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</div>
		</header>


		<div class="flex-container-col shrink-75">
			{% assign image = page.images[0] %}
			{% include image.html image=image styleClass="first-image shadow" id="main-image" %}
			<p id="description">{{page.description}}</p>
		</div> 

		<div class="flex-container" itemprop="articleBody">
      		<div class="main-content">
          		{{ content }}
      		</div> 
	      	{% if page.aside %}  
		      	<aside class="visible-lg">
		           {% include sidebar.html %}
		      	</aside>
	      	{% endif %}
    	</div>

	</article>
 
    <div>
      {% include post-footer.html %}
    </div>
</div>
 
 

