---
layout: default
---

<div class="container">
	<article class="post" markdown="1" itemscope itemtype="http://schema.org/BlogPosting">

	  <header class="blog-header">
	    <h1 class="post-title tk-raleway" itemprop="name headline">{{ page.title }}</h1>
	    <div class="post-meta">
	    <!--<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time> -->
	    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</div>
	  </header>

	  <div markdown="1" class="post-content tk-europa" itemprop="articleBody">
	    {{ content }}
	  </div>

	</article>
</div>